* {
    cursor: url(../images/sukuna_finger.png), pointer;
}
.homepage {
    background-color: hsla(255, 10%, 75%, 1);
    background-image: url(../images/sukuna_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: hsla(67, 100%, 99%, 1);
    font-family: 'Inter';
}

.jjk_jap_title {
    font-family: 'Yuji Syuku';
    font-size: 80px;
}

.jjk_eng_title {
    font-family: 'Cinzel';
    font-size: 20px;
}

/* Additional pages */

